
.BackgroundContainer{
    width:100%;height:100%;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    flex-wrap: nowrap;
    
}
.BackgroundContainer::before{
    content:"";
    background:url(./background.jpg);
    background-size:cover;
    opacity:0.75;
    position:absolute;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;

}
.BackgroundFlex{
    width:100%;height:100%;
    display: flex;
    flex-direction: row;
}
.howManyOnline{
    font-family: 'main';
    position: absolute;
    left: 10px;
    font-size: 23px;
}