/* MiniTv.js */
.miniTvConatiner{
    position: relative;
    flex:8;
}
.miniTvImg{
    max-width: 559px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 2;
}
.remoteController{
    width: 374px;
    position:absolute;
    bottom: 0%;
    right: 0%;
    /*transform: translate3d( 2.5%, 2.7%, 0 );*/
    transform: translate3d( 2.5%, 2.7%, 0 );
    transition: 0.3s;
    z-index: 2;
    cursor: pointer;
    filter: brightness(70%) grayscale(50%);
}
.remoteController:hover{
    transform: rotateX(40deg) translate3d( 10%, 20%, 0 );
    filter: brightness(100%);
}

.phoneQR{
    position:absolute;
    bottom: -175px;
    right: 230px;
    z-index: 3;
    width: 150px;
    filter: brightness(70%) grayscale(50%);
    transition: 0.3s;
    cursor: pointer;
}
.phoneQR:hover{
    bottom: -30px;
    filter: brightness(100%);
    transform: rotate(0);
}



/* InnerImage.js */
.PPTImg{
    width: 414px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -71%, 0);
    width: 414px;
    height: 300px;
}

.old-tv {
    position: absolute;
    
    z-index: 1;
    top:50%;
    left:50%;
    width: 420px;
    height: 310px;
    background-image: url("./noise.png");
    opacity: 5%;
    /* pointer-events: none; */

    animation: shift 0.1s linear infinite both;
}

@keyframes shift {
    0% {
        transform: translateX(-50%) translateY(-64%);
    }
    50%{
        transform: translateX(-50%) translateY(-64%);
    }
    51%{
        transform: translateX(-50%) translateY(-76%);
    }
    100% {
        transform: translateX(-50%) translateY(-76%);
    }
}